<div class="container">
    <form id="managementForm" [formGroup]="managementForm" (ngSubmit)="addManagement()">

        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea formControlName="description" class="form-control" id="description" aria-describedby="descriptionHelp" placeholder="Descripción" required></textarea>
        </div>

        <div class="float-right">
            <button type="submit" class="btn btn-primary" [disabled]="!managementForm.valid">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Guardar
            </button>
        </div>
    </form>
</div>
<div class="ontainer table-container">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th class="pointer" (click)="setOrder('description')">
                    <i *ngIf="order.value === 'description' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
                    <i *ngIf="order.value === 'description' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
                    Descripción
                </th>
                <th class="pointer" (click)="setOrder('createdDate')">
                    <i *ngIf="order.value === 'createdDate' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
                    <i *ngIf="order.value === 'createdDate' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
                    Fecha
                </th>
                <th class="pointer" (click)="setOrder('email')">
                    <i *ngIf="order.value === 'email' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
                    <i *ngIf="order.value === 'email' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
                    Usuario
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of managements">
                <td>{{item.description}}</td>
                <td>{{item.createdDate | date: 'dd-MM-yyyy hh:mm a' }}</td>
                <td>{{item.email }}</td>
            </tr>
        </tbody>
    </table>
</div>