<nav class="navbar bg-primary text-white">
  <a class="navbar-brand text-white" href=""  >
    <img src="/assets/logo/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Social Business - Red Nacional de Profesionales Inmobiliarios
  </a>
</nav>

<div class="container home-container">
  <div class="jumbotron">
    <h1 class="display-3">Social Business</h1>
    <p class="lead">Vista Previa</p>
    <hr class="my-4">
    <p>Ingresa el número del inmueble para ver el detalle.</p>
    <form class="form-inline" #previewForm="ngForm">
      <div class="form-group mx-sm-3">
        <label for="inputPassword2" class="sr-only">Número del inmueble</label>
        <input type="text" class="form-control" [(ngModel)]="offer.offerId" name="offerId" id="inputPassword2" placeholder="Id del Inmueble" required>
      </div>
      <button type="submit" class="btn btn-primary bg-primary border-primary" routerLink="/offer/{{offer.offerId}}" routerLinkActive="active" [disabled]="!previewForm.form.valid">Visitar</button>
    </form>
  </div>
</div>