<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-4 pt-5">
            <ul class="list-group pointer">
                <div class="list-group">
                    <a href="/users" class="list-group-item list-group-item-action">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        &nbsp;Volver al listado
                    </a>
                </div>
            </ul>
            <br>
            <ul class="list-group pointer">
                <div id="user-menu" class="list-group">
                    <a [routerLink]="['/user', userId]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action">
                        <i class="fa fa-user text-primary" aria-hidden="true"></i>
                        &nbsp;Perfil
                    </a>
                    <li class="list-group-item list-group-item-action disabled">
                        <i class="fa fa-building text-primary" aria-hidden="true"></i>
                        &nbsp;Inmuebles
                        <span class="badge badge-primary badge-pill float-right">{{totalOffers}}</span>
                    </li>
                    <a [routerLink]="['managements']" routerLinkActive="active" class="list-group-item list-group-item-action">
                        <i class="fa fa-list text-primary" aria-hidden="true"></i>
                        &nbsp;Seguimientos</a>
                </div>
            </ul>
        </div>
        <div class="col-md-9 col-lg-9 col-xl-8 pt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>