<div class="container">
  <form id="userForm" [formGroup]="userForm" (ngSubmit)="saveProfile()">

    <div class="form-group">
      <label for="email">Correo</label>
      <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Correo">
    </div>

    <div class="form-group">
      <label for="name">Nombre(s)</label>
      <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Nombre(s)">
    </div>

    <div class="form-group">
      <label for="lastName">Apellido(s)</label>
      <input type="text" formControlName="lastName" class="form-control" id="email" aria-describedby="lastNameHelp" placeholder="Apellidos(s)">
    </div>

    <div class="form-group">
      <label for="phone">Teléfono (Fijo)</label>
      <input type="text" formControlName="phone" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Teléfono (Fijo)">
    </div>

    <div class="form-group">
      <label for="cellPhone">Celular</label>
      <input type="text" formControlName="cellPhone" class="form-control" id="cellPhone" aria-describedby="cellPhoneHelp" placeholder="Celular">
    </div>

    <div class="form-group">
      <label for="city">Ciudad</label>
      <input type="text" formControlName="city" class="form-control" id="city" aria-describedby="cityHelp" placeholder="Ciudad">
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" formControlName="firstContact"> Primer Contacto realizado!
      </label>
    </div>

    <bSwitch [(ngModel)]="hasRealState" [switch-off-text]="'No'" [switch-on-text]="'Si'" [ngModelOptions]="{standalone: true}"></bSwitch> Posee Inmobiliaria ?

    <div formGroupName="realState" [hidden]="!hasRealState">

      <div class="form-group">
        <label for="nameRealState">Nombre</label>
        <input type="text" formControlName="name" class="form-control" id="nameRealState" aria-describedby="nameRealStateHelp" placeholder="Nombre">
      </div>

      <div class="form-group">
        <label for="cityRealState">Ciudad</label>
        <input type="text" formControlName="nit" class="form-control" id="cityRealState" aria-describedby="cityRealStateHelp" placeholder="Ciudad">
      </div>

      <div class="form-group">
        <label for="phoneRealState">Teléfono</label>
        <input type="text" formControlName="phone" class="form-control" id="phoneRealState" aria-describedby="phoneRealStateHelp" placeholder="Teléfono">
      </div>
    </div>

    <div class="float-right">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        Guardar
      </button>
    </div>
  </form>
</div>