.full-width {
    width: 100%;
}

.card-home {
    padding: 3em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

@media (max-width: 576px) {
    .footer {
        font-size: 0.5em;
    }    
}