<router-outlet></router-outlet>

<footer class="footer bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <span>Social Business - Red Nacional de Profesionales Inmobiliarios. - © 2017 socialbusiness.com.co</span>
            </div>
        </div>
    </div>
</footer>