<ng2-slim-loading-bar>
</ng2-slim-loading-bar>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 login-container">
      <div class="account-wall">
        <img class="profile-img" src="/assets/logo/logo.png" alt="">
        
        <form class="form-signin" [formGroup]="accountForm" (ngSubmit)="doLogin()">

          <input type="email" class="form-control" formControlName="email" placeholder="Correo" autofocus>

          <input type="password" class="form-control"  formControlName="password" placeholder="Contraseña">

          <button class="btn btn-lg btn-primary bg-primary btn-block" [disabled]="!accountForm.valid" type="submit">
            Iniciar Sesión
          </button>

        </form>
      </div>
    </div>
  </div>
</div>