<div class="container">
    <owl-carousel [options]="options" [items]="(offer | async)?.images" [carouselClasses]="classes">
        <div class="item deal-slide" *ngFor="let image of (offer | async)?.images; let i = index">
            <div class="coupons-div" style="cursor:pointer;" (click)="openImage(i)">
                <img class="d-block w-100" [src]="image" alt="Second slide" class="img-slider">
            </div>
        </div>
    </owl-carousel>

    <div class="row components-content">
        <div class="col-md-6">
            <div class="list-group">
                <a class="list-group-item llist-group-item-secondary flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between text-primary">
                        <h5 class="mb-1">{{(offer | async)?.name}}</h5>
                    </div>
                    <p class="mb-1 card-description text-secondary">
                        {{(offer | async)?.description}}
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control text-center  price-text" aria-label="Amount (to the nearest dollar)" value="$&nbsp;{{(offer | async)?.price | number}}"
                    disabled>
                <span class="input-group-addon bg-danger text-white pointer price-text" *ngIf="(offer | async)?.thirdParty" (click)="showTirdPartyInfo()">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    &nbsp;  Tercería
                </span>
            </div>
            <div class="card">
                <div class="card-body card-description text-secondary text-center">
                    {{(offer | async)?.neighborhood}} / {{(offer | async)?.city}} / {{(offer | async)?.department}}
                </div>
            </div>
            <div class="card" *ngIf="(offer | async)?.address">
                <div class="card-body card-description text-secondary text-center card-description">
                    {{(offer | async)?.address}}
                </div>
            </div>
            <div class="alert alert-info text-center" role="alert">
                <strong>{{(offer | async)?.views}}</strong> personas han visto este inmueble
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="card col-md-6">
                        <div class="card-body text-secondary card-icon-list">
                            <i class="fa fa-tag text-primary" aria-hidden="true"></i> &emsp; {{(offer | async)?.type | offerType}}
                        </div>
                    </div>
                    <div class="card col-md-6">
                        <div class="card-body text-secondary card-icon-list">
                            <i class="fa fa-briefcase text-primary" aria-hidden="true"></i> &emsp; {{(offer | async)?.businessType
                            | businessType }}
                        </div>
                    </div>
                    <div class="card col-md-6" *ngIf="(offer | async)?.components && (offer | async)?.components.socialStratum">
                        <div class="card-body text-secondary card-icon-list">
                            <i class="fa fa-star-half-o text-primary" aria-hidden="true"></i> &emsp; {{(offer | async)?.components.socialStratum
                            | socialStratum }}
                        </div>
                    </div>
                    <div class="card col-md-6" *ngIf="(offer | async)?.components && (offer | async)?.components.antiquity">
                        <div class="card-body text-secondary card-icon-list">
                            <i class="fa fa-clock-o text-primary" aria-hidden="true"></i> &emsp; {{(offer | async)?.components.antiquity
                            | antiquity}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row components-content">
        <div class="col-md-3 col-sm-3 col-6 content-card-component" *ngIf="(offer | async)?.components && (offer | async)?.components.bathrooms">
            <div class="card text-primary border-primary">
                <div class="card-icon" color="primary">
                    <i class="fa fa-bath fa-lg" aria-hidden="true"></i>
                    <div class="card-body">
                        <h4 class="card-title">{{(offer | async)?.components.bathrooms}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 content-card-component" *ngIf="(offer | async)?.components && (offer | async)?.components.rooms">
            <div class="card text-primary border-primary">
                <div class="card-icon" color="primary">
                    <i class="fa fa-bed fa-lg" aria-hidden="true"></i>
                    <div class="card-body">
                        <h4 class="card-title">{{(offer | async)?.components.rooms}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 content-card-component" *ngIf="(offer | async)?.components && (offer | async)?.components.parkings">
            <div class="card text-primary border-primary">
                <div class="card-icon" color="primary">
                    <i class="fa fa-car fa-lg" aria-hidden="true"></i>
                    <div class="card-body">
                        <h4 class="card-title">{{(offer | async)?.components.parkings}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-6 content-card-component" *ngIf="(offer | async)?.area">
            <div class="card text-primary border-primary">
                <div class="card-icon" color="primary">
                    <i class="fa fa-area-chart fa-lg" aria-hidden="true"></i>
                    <div class="card-body">
                        <h4 class="card-title">{{(offer | async)?.area}} m<sup>2</sup></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>