.full-height {
    height: 100%;
}

.carousel {
    overflow: hidden;
    height: 500px;
    max-height: 500px !important;
}

.carousel-item {
    max-height: 450px !important;
    vertical-align: middle;
    background-color: #212959;
    text-align: center;
}

/* Cards */
.card > .card-icon {
    text-align: center;
    position: relative;
    font-size: 2em;
    padding: 0.5em 0.2em 0 0;
}

.card-icon-list {
    text-align: justify;
    font-size: 1.2em;
    padding: 10px;
}

.components-content {
    padding-top: 1em;
}

.card-description {
    padding-top: 0.5em;
    text-align: justify;
    font-size: 1.3em;
}

.img-slider {
    height: 450px;
    width: auto; 
}

.price-text {
    font-size: 1.5em;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 576px) {
    .content-card-component {
        padding-top: 20px; 
    }
    .card-description {
        text-align: justify;
        font-size: 0.9em;
    }
    .price-text {
        font-size: 0.8em;
    }
    .card-icon-list {
        text-align: justify;
        font-size: 1.3em;
    }
    .img-slider {
        height: 200px;
        width: auto; 
    }
}

@media (min-width: 576px) and (max-width: 1200px) {
    .card-icon-list {
        text-align: justify;
        font-size: 1em;
        padding: 10px;
    }
}