<div class="row sb-container">
  <div class="col-lg-6 col-md-6 filter-container">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-light border-secondary text-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{filter.type | filterType }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item pointer" (click)="setTypeFilter('lastName')">{{'lastName' | filterType}}</a>
          <a class="dropdown-item pointer" (click)="setTypeFilter('cellPhone')">{{'cellPhone' | filterType}}</a>
          <a class="dropdown-item pointer" (click)="setTypeFilter('city')">{{'city' | filterType}}</a>
          <a class="dropdown-item pointer" (click)="setTypeFilter('code')">{{'code' | filterType}}</a>
          <a class="dropdown-item pointer" (click)="setTypeFilter('lastName')">{{'email' | filterType}}</a>
          <a class="dropdown-item pointer" (click)="setTypeFilter('name')">{{'name' | filterType}}</a>
        </div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="filter.value" aria-label="Text input with dropdown button">
      <div class="input-group-btn">
        <button class="btn btn-light border-primary text-primary" [disabled]="!filter.type || !filter.value" (click)="getUsers()">
          <i class="fa fa-search" aria-hidden="true"></i> &emsp;Buscar
        </button>
      </div>
      <div class="input-group-btn">
        <button class="btn btn-light border-secondary text-secondary" type="button" (click)="initFilter(); getUsers();">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3">
    <div class="alert alert-success" role="alert">
      <strong>{{users?.length}}</strong> 
      &nbsp;<i class="fa fa-users" aria-hidden="true"></i>
      &nbsp;Usuarios
    </div>
  </div>
  <div class="col-lg-3 col-md-3">
    <div class="alert alert-info" role="alert">
      <strong>{{offersQuant}}</strong>
      &nbsp;<i class="fa fa-building" aria-hidden="true"></i>
      &nbsp;Inmuebles
    </div>
  </div>
</div>

<div class="sb-container">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th class="pointer" (click)="setOrder('code')">
          <i *ngIf="order.value === 'code' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
          <i *ngIf="order.value === 'code' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
          Código
        </th>
        <th class="pointer" (click)="setOrder('name')">
          <i *ngIf="order.value === 'name' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
          <i *ngIf="order.value === 'name' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
          Nombres
        </th>
        <th class="pointer" (click)="setOrder('lastName')">
          <i *ngIf="order.value === 'lastName' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
          <i *ngIf="order.value === 'lastName' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
          Apellidos
        </th>
        <th class="pointer" (click)="setOrder('email')">
          <i *ngIf="order.value === 'email' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
          <i *ngIf="order.value === 'email' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
          Correo
        </th>
        <th class="pointer" (click)="setOrder('cellPhone')">
          <i *ngIf="order.value === 'cellPhone' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
          <i *ngIf="order.value === 'cellPhone' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
          Celular
        </th>
        <th class="pointer" (click)="setOrder('city')">
          <i *ngIf="order.value === 'city' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
          <i *ngIf="order.value === 'city' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
          Ciudad
        </th>
        <th class="pointer" (click)="setOrder('createdDate')">
          <i *ngIf="order.value === 'createdDate' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
          <i *ngIf="order.value === 'createdDate' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
          Fecha Creación
        </th>
        <th class="pointer" (click)="setOrder('firstContact')">
          <i *ngIf="order.value === 'firstContact' && order.order === 'asc'" class="fa fa-caret-up" aria-hidden="true"></i>
          <i *ngIf="order.value === 'firstContact' && order.order === 'desc'" class="fa fa-caret-down" aria-hidden="true"></i>
          Contacto
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th>{{user.code}}</th>
        <td>{{user.name}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.cellPhone}}</td>
        <td>{{user.city}}</td>
        <td>{{user.createdDate | date }}</td>
        <td [ngClass]="{'text-danger': !user.firstContact, 'text-success': user.firstContact}">
          <i class="fa fa-{{user.firstContact? 'check' : 'times'}}" aria-hidden="true"></i>
          {{user.firstContact? 'Llamado' : 'Sin llamar'}}
        </td>
        <td>
          <a routerLink="/user/{{user.$key}}" type="button" class="btn btn-light btn-sm border-secondary text-secondary">
            <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;editar
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>