/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */


body {
    padding-bottom: 80px !important;
}

.bg-primary {
    background-color: #9c27b0 !important;
}

.text-primary {
    color: #9c27b0 !important;
}

.border-primary {
    border-color: #9c27b0 !important;
}

.bg-secondary {
    background-color: #448AFF !important;
}

.text-secondary {
    color: #448AFF !important;
}

.border-secondary {
    border-color: #448AFF !important;
}

.pointer {
    cursor: pointer;
}